:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout h2,
.slidev-layout h1 {
  @apply font-bold;
  background: linear-gradient(45deg, #4092FF, #0058CC);
  background-clip: text;
  color: transparent;
}

.slidev-layout h1 e,
.slidev-layout h2 e {
  font-style: inherit;
  color: initial;
  -webkit-background-clip: initial;
  background-clip: initial;
  -webkit-text-fill-color: initial;
}
